{
    "about_image": "https://media.raricart.pl/gallery/b40f9e32da2f0358_migrated.webp",
    "hero_video": "https://media.raricart.pl/content/hero.mp4",
    "offer_cards": {
        "pancakes": "https://media.raricart.pl/gallery/7e983f317a6f7fcd_migrated.webp",
        "icecream": "https://media.raricart.pl/gallery/5164c04607df0960_migrated.webp",
        "cheese": "https://media.raricart.pl/gallery/09e3cc5855e0b574_migrated.webp"
    },
    "offer_modals": {
        "pancakes": "https://media.raricart.pl/gallery/6d13d603eaeb8d57_migrated.webp",
        "icecream": "https://media.raricart.pl/gallery/9b9579c8c4ed20b2_migrated.webp",
        "cheese": "https://media.raricart.pl/gallery/cdd87e53948f5762_migrated.webp"
    },
    "offer_main_image": "https://media.raricart.pl/gallery/b8135a7105f1d9d0_migrated.webp",
    "gallery_bg": "https://media.raricart.pl/gallery/5ee853579503af51_migrated.webp",
    "why_us_bg": "https://media.raricart.pl/gallery/749ae64eb81a3f80_migrated.webp"
}
